@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Maven+Pro:wght@500&family=Open+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    display: flex;
    width: 50%;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Lobster Two';
    transition: 0.6s ease;
}

.nav-list li a:hover {
    color: yellow;
}

.rightNav {
    width: 50%;
    text-align: right;
    padding: 16px 22px;
}

.background {
    background-image: linear-gradient(to right, red, orange, cyan);
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 75vh;
}

.box-main {
    display: flex;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 60%;
    max-width: 40%;
}

.firstHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.secondHalf {
    width: 30%;
}

.secondHalf img {
    border-radius: 50px;
    width: 50%;
    border: 3px solid white;
}

.text-big {
    font-size: 30px;
    font-family: 'Lobster Two';
}

.text-small {
    font-size: 25px;
    font-family: 'Maven Pro';
}

.section {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    max-width: 80%;
}

.imgFluid {
    width: 250px;
}

.secLeft {
    flex-direction: row-reverse;
}

.paras {
    padding: 0 65px;
}

.text-heading {
    font-size: 30px;
    font-family: 'Maven Pro';
    font-weight: bolder;
}

.text-para {
    font-size: 25px;
    font-family: 'Open Sans';
}

.foot {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 25px;
    font-family: 'Maven Pro';
}

@media only screen and (max-width: 1140px) {
    .navbar {
        flex-direction: column;
    }
    .nav-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .box-main {
        flex-direction: column;
    }
    .section {
        flex-direction: column;
    }
    .secLeft {
        flex-direction: column-reverse;
    }
    .foot {
        text-align: center;
    }
}